 

  .carousel-inner{
    > .item{
     
      transition: 5000ms ease-in-out all; 
    }

}

#wrapper .content .banner img {
	width: 100%;
	height: 50px;
   overflow: hidden; 
   padding-left: 15px;
   box-sizing: border-box; 
}
#wrapper .content .box-index h2 {
  text-transform: uppercase;
  font-size: 23px;
  color: #444;
  border-bottom: 3px solid #EEE;
  position: relative;
  margin-bottom: 20px;
  padding: 5px 0;
}
#wrapper .content .box-index h2::before {
  content: "";
  width: 70px;
  background: #2673BB none repeat scroll 0% 0%;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
}
#wrapper .content .box-index .item {
  margin-bottom: 20px;
}
#wrapper .content .box-index .item img {
	width: 100%;
	
   overflow: hidden; 			/* ttránh lỗi hình quá lớn đè lên nội dung các phần khác*/
  
   box-sizing: border-box; 
}
#wrapper .content .box-index .item h3 {
  font-size: 16px;
  text-align: center;
}
#wrapper .sidebar .sidebar-item {
  margin-bottom: 30px;
}
#wrapper .sidebar .sidebar-item h4.widget-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  border-bottom: 3px solid #EEE;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 5px 0;
}
#wrapper .sidebar .sidebar-item h4.widget-title::before {
  content: "";
  display: block;
  width: 70px;
  background: #2673BB none repeat scroll 0% 0%;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
}
#wrapper .sidebar .sidebar-item .textwidget img {
  width: 100%;
  height: auto;
   overflow: hidden; // tránh lỗi hình quá lớn đè lên nội dung các phần khác
  
   box-sizing: border-box; // cố định kích thước của slide
}
h1.archive-title {
  text-transform: uppercase;
  font-size: 25px;
}
.item-archive {
  border: 1px solid #dcdcdc;
  box-shadow: 2px 2px 2px #dcdcdc;
  padding: 5px;
  margin-bottom: 15px;
}
.item-archive .thumb img {
  width: 100%;
  height: auto;
}
.item-archive .detail a.readmore {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  background: #09D5F3;
}
h1.single-title {
  text-transform: uppercase;
  font-size: 25px;
}
.single-content {
  text-align: justify;
  border: 1px solid #dcdcdc;
  box-shadow: 2px 2px 2px #dcdcdc;
  padding: 10px;
}
footer {
  background: #2E2E2E;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}
.menuphai
{
  font-size: 10px;
}
.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

/* menu doc */
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {  
color: #fff;    
background-color: #428bca;  
font-weight:bold;   
font-size:16px;
}
 
.margintop20 {  
margin-top:20px;
}
 
.nav-pills>li>a { 
border-radius: 0px;
}
 
a { color: #000;    
text-decoration: none;
}
 
a:hover {   
color: #000;    
text-decoration: none;
}
 
.nav-stacked>li+li { 
margin-top: 0px;    
margin-left: 0; 
border-bottom:1px solid #dadada;    
border-left:1px solid #dadada;  
border-right:1px solid #dadada;
}
 
.active2 {
    border-right:4px solid #428bca;
    }
@media only screen and (max-width: 400px) {
 
   .banner {
    display: none !important;
    }
	
	
    input {
      width: 200px !important;
    }

    

  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    input {
      width: 100px !important;
    }

  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 401px) { 
    input {
      width: 100px !important;
    }
    button {
      margin-right: auto;
     

    }


    
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  input {
      width: 50px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

input {
      width: 170px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}